extends /views/layout
include /views/mixins/navbar

block title
  title Announcements

block append scripts
  script(src='/javascripts/announcement.js')

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/announcement.css')

block content
  +navbar
  
  .announcements-container
    h1.header-title Announcements
    
    if user && user.privilege >= PrivilegeLevel.COORDINATOR
      .input-area
        input#announcementInput(type='text', placeholder='Type here')
        button#postAnnouncementBtn Post
    
    ul#announcementsList
      each announcement in announcements
        li.announcement-item
          .announcement-content
            strong #{announcement.posterName}: 
            span #{announcement.content}
          .announcement-timestamp
            span #{announcement.createdAt.toLocaleString()}
