extends layout

block title
  title Chatroom

block append scripts
  //- script.
  //-   var userId = "#{userId}";
  
  script(src='/javascripts/jquery-3.7.1.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/chatroom.js')
  script(src='https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js')

  
  block append styles
  link(rel='stylesheet', href='/stylesheets/chatroom.css')


block content

  header
    button#backButton Back
    h1.header-title Public Chat Room

  .chatroom-container
    ul#messageList

    .input-area
      input#messageInput(type='text', placeholder='Type your message...')
      button#sendMessageBtn Send


