extends layout

block title
  title Emergency Social Network

block append scripts
    script(src='javascripts/Home.js')

block content
  .horizontal.vertical.centered.box
    h1 Emergency Social Network
    div#joinCommunityButtonContainer
        a#joinCommunityButton(href='/joinCommunity') Join Community