.dist {
    color: gray;
}

.ui.custom-scrolling-container {
    max-height: 340px;
    width: 97%;
    overflow-y: auto;
}

.ui.card.custom-width {
    width: 95%;
    margin: 2.5%;
}

.ui.button.custom {
    margin-top: 5%;
}


