body {
  margin: 0;
  padding: 0;
  font-size: 12px
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 100vh;
  padding-top: 50px;
}
.horizontal.centered.box {
  align-items: center;
}
.vertical.centered.box {
  justify-content: center;
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  background-color: #333;
  z-index: 100;
}

#contentBox {
  margin-top: 40px;
  padding: 10px;
}

#joinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

#buttonBox {
  text-align: right;
}

#DirectoryContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top: 1px solid grey;
  padding: 1em;
}

#DirectoryContent .user-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#DirectoryContent .user-row .content {
  padding-left: 1em;
  width:auto;
  flex-grow: 1;
}

#DirectoryContent .user-row .content a.offline {
  color: grey;
}