body {
  font-family: Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#joinForm {
  width: 300px;
}