mixin navbar
    .ui.inverted.secondary.menu#navbar
        a.item(href='/') Home
        a.item(href='/users') Directory
        a.item(href='/chatroom') Public Chat
        if user
            .right.menu
                a.item(href='/logout') Logout