include /views/mixins/searchBox
mixin navbar
    .ui.inverted.secondary.menu#navbar
        a.item(href='/users' data-tooltip='Directory' data-position='bottom center' data-variation='tiny basic')
            i.address.book.icon
        a.item(href='/messages/public' data-tooltip='Public Chat' data-position='bottom center' data-variation='tiny basic')
            i.users.icon
        a.item(href='/announcements' data-tooltip='Announcements' data-position='bottom center' data-variation='tiny basic')
            i.bullhorn.icon
        a.item(href='/hazards')
            i.map.marked.icon
        a.item(href='/resources' data-tooltip='Resource Bulletin Board' data-position='bottom center' data-variation='tiny basic')
            i.first.aid.icon
        a.item(href='/groups')
            i.comments.icon
        .right.menu
            if context !== contextModule.CONTEXT.OTHER
                .item#navbarSearchButton
                    i.search.icon
            if user
                .item.ui.dropdown
                    i.hamburger.icon
                    .menu
                        .item#changeStatusButton Change Status
                        a.item#findNearbyPeople Find Nearby People
                        a.item(href='/speedtest') Speed Test
                        .item#logoutButton Logout
    +searchBox
    .ui.modal#changeStatusModal
        .header Change Status
        .content
            form.ui.form#changeStatusForm(method='POST' action='/users/status')
                .inline.field
                    .ui.radio.checkbox
                    input.statusChoice#ok(type='radio' name='status' value=1)
                    label(for='ok' style='color: rgb(50, 178, 50);') I'm OK.
                .inline.field
                    .ui.radio.checkbox
                    input.statusChoice#help(type='radio' name='status' value=2)
                    label(for='help' style='color: rgb(248, 167, 37);') I need help.
                .inline.field
                    .ui.radio.checkbox
                    input.statusChoice#emergency(type='radio' name='status' value=3)
                    label(for='emergency' style='color: red;') Life threatening emergency!
                #buttonBox
                    button.ui.button#confirmButton(type='submit') Confirm

    block append scripts
        script(type='module' src='/javascripts/navbar.js')