mixin searchBox
    //- .menu#dropdownMenu
    //-     .item
    //-         .ui.action.input
    //-             select#categorySelect
    //-                 option(value="username") Username
    //-                 option(value="status") Status
    //-             input(type="text", placeholder="Search...")
    //-             button.ui.button Search
    //-     .item
    //-         span Search Results
    .ui.search

    block append scripts
        script(type='module' src='/javascripts/searchBox.js')