mixin searchBox
    if context !== contextModule.CONTEXT.OTHER
        #searchBox
            .horizontal.centered.box
                #queryBox
                    case context
                        when contextModule.CONTEXT.CITIZENS
                            #citizenSearchBox
                                .searchTitleBox 
                                    span Search Citizens
                                .ui.action.input
                                    select.ui.compact.selection.dropdown#citizenSearchCategorySelect
                                        option(value="username") Username
                                        option(value="status") Status
                                    select.ui.compact.selection.dropdown#statusSelect
                                        option(value="ok") OK
                                        option(value="help") Need Help
                                        option(value="emergency") Emergency
                                    .ui.input
                                        input(type="text", placeholder="Type username...", autocomplete="off")#usernameInput
                                    button.ui.button#searchButton Search
                        when contextModule.CONTEXT.ANNOUNCEMENTS
                            #announcementSearchBox
                                .searchTitleBox 
                                    span Search Announcements
                                .ui.action.input
                                    .ui.input
                                        input(type="text", placeholder="Type Announcement...")
                                    button.ui.button#searchButton Search
                        when contextModule.CONTEXT.PUBLIC_MESSAGES
                            #publicMessageSearchBox 
                                .searchTitleBox 
                                    span Search Public Messages
                                .ui.action.input
                                    .ui.input
                                        input(type="text", placeholder="Type Message...")
                                    button.ui.button#searchButton Search
                        when contextModule.CONTEXT.PRIVATE_MESSAGES
                            #privateMessageSearchBox
                                .searchTitleBox 
                                    span Search Private Messages
                                .ui.action.input
                                    select.ui.compact.selection.dropdown#privateMessageSearchCategorySelect
                                        option(value="message") Message
                                        option(value="status") Status
                                    .ui.input
                                        input(type="text", placeholder="Type Message...")#messageInput
                                    button.ui.button#searchButton Search
                #resultBox
                    .ui.grid.middle.aligned
                        .two.wide.column
                            button.ui.icon.button
                                i.left.chevron.icon#leftArrow
                        .twelve.wide.column
                            div 
                                span hello
                            div 
                                span hello
                            div 
                                span hello
                            div 
                                span hello
                        .two.wide.column
                            button.ui.icon.button
                                i.right.chevron.icon#rightArrow


    block append scripts
        script(type='module' src='/shared/context.js')
        script(type='module' src='/javascripts/searchBox.js')