for m in privateMessages
    .messageBox
        .senderInfo
            span.serderName #{m.senderName}
            i.statusIcon(class=m.senderStatus)
        .messageContent
            span #{m.content}
            span #{m.createdAt.toLocaleString()}