extends /views/layout

block title
    title ESN Directory 

block content
    h1 ESN Directory
    .ui.grid.container#DirectoryBox
        .ui.relaxed.divided.list
            .item.user-row
                .circle.status.online
                .content
                    a.username username1
                    
            .item.user-row
                .circle.status.offline
                .content
                    a.username username2
                    
        


        

