extends /views/layout
include /views/mixins/navbar

block title
  title Chatroom

block append scripts
  script(src='/javascripts/chatroom.js')
  
block append stylesheets
  link(rel='stylesheet', href='/stylesheets/chatroom.css')

block content
  - const statusIconDict = {'undefined': 'question circle', 'ok': 'smile icon', 'help': 'frown icon', 'emergency': 'exclamation triangle'}
  - const statusColorDict = {'undefined': 'grey', 'ok': 'rgb(50, 178, 50)', 'help': 'rgb(248, 167, 37)', 'emergency': 'red'}
  +navbar 
  //- header
  //-   h1.header-title Public Chat Room

  .chatroom-container
    ul#messageList
        for message in messages
            .message-box
                .sender-info
                    span.sender-name #{message.senderName} 
                    i.large.icon(class=statusIconDict[message.userStatus] style='color: '+statusColorDict[message.userStatus])
                .message-content
                    p #{message.content}
                    span.timestamp #{message.createdAt.toLocaleString()}

    .input-area
      input#messageInput(type='text', placeholder='Type your message...')
      button#sendMessageBtn Send